<header>
  <div align="center">
  <h1>Welcome To My Page</h1>
  </div>
</header>
<div align="center">
  <a href="#home">HiringManager</a>
  <a href="#news">Tech</a>
</div>
<div align="center">
<section>
  <article>
    <p> Today on an average onboarding a new employee took 3 weeks </p>
    <p> 1. Recruiter calls the Candidate </p>
    <p> 2. Recruiter forwards the resume to Hiring manager </p>
    <p> 3. Hiring Manager approves and make an appointment </p>
    <p> 4. Hiring Manager Call the Candidate </p>
    <p> 5. Once Hiring Manager Interview done , make an appointmnent for coding interview</p>
    <p>6. Once the Coding Interview/Exercise done , make another round of tech appointment </p>
    <p>7. Once the Tech Interview Done , make an appointment for Team Meeting</p>
    <p>8. Once the Team Meeting is done , make an appointment with CTO / HEAD </p>
    <p>9. Once the interview done with CTO / Head , make an appointnment with HR</p>
    <p>10. Once the HR Interview is done , we can onboard a new employee</p>
  </article>
</section>
<aside>
  <h3> <b>Th idea here is how to reduce these timings </b> </h3>
<aside>
</div>
<footer>
  <div align="center">
    <nav>
      <p>
        call: 3108041017 | email: ebalakannan@gmail.com | location: valencia, ca
      </p>
    </nav>
  </div>
</footer>